name: SonarCloud Analysis

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Hist칩rico completo para an치lise

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@0303d6b62e310685c0e34d0b9cde218036885c4d   #v5.0.0

        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=gabriela-oliveira-portifolio
            -Dsonar.projectKey=Gabriela-Oliveira-Portifolio_dialyhome-demoday
            -Dsonar.exclusions=**/node_modules/**,**/*.min.js,**/*.d.ts
            -Dsonar.coverage.exclusions=**/node_modules/**,**/*.min.js,**/*.d.ts
# on:

#   push:

#     branches:

#       - main

#       - develop

#   pull_request:

#     types: [opened, synchronize, reopened]



# jobs:

#   sonarcloud:

#     name: SonarCloud

#     runs-on: ubuntu-latest

   

#     steps:

#       - uses: actions/checkout@v3

#         with:

#           fetch-depth: 0  # Hist칩rico completo para an치lise

     

#       - name: SonarCloud Scan

#         # uses: SonarSource/sonarcloud-github-action@master
#         uses: SonarSource/sonarqube-scan-action@v5.0.0
        
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#           run: |
#             sonar-scanner \
#               -Dsonar.organization="gabriela-oliveira-portifolio" \
#               -Dsonar.projectKey="Gabriela-Oliveira-Portifolio_dialyhome-demoday"

#         # env:

#         #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#         #   SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

