name: SonarCloud Analysis



on:

  push:

    branches:

      - main

      - develop

  pull_request:

    types: [opened, synchronize, reopened]



jobs:

  sonarcloud:

    name: SonarCloud

    runs-on: ubuntu-latest

   

    steps:

      - uses: actions/checkout@v3

        with:

          fetch-depth: 0  # Histórico completo para análise

     

      - name: SonarCloud Scan

        # uses: SonarSource/sonarcloud-github-action@master
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          run: |
            sonar-scanner \
              -Dsonar.organization="gabriela-oliveira-portifolio" \
              -Dsonar.projectKey="Gabriela-Oliveira-Portifolio_dialyhome-demoday"

        # env:

        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        #   SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

